                                       /* css pour la page formulaire */
									   
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Gabriela', serif;
	font-size: 20px;
}
body{
		background-image: url("fond.jpg");
		background-repeat: no-repeat;
		background-size: cover;
}
#menu{
	position: fixed;
	display: inline-block;
	margin-top: 60px;
	margin-left: calc(100% - 300px); /* le CALC est super pratique pour centrer des éléments par example ca calcle la position milieu - la motier de l'element ca facilite la vie */
	padding: 40px;
	height: 50px;
	border-radius: 100%;
	border: 4px solid white;
	color: white;
	background-color: rgba(0,0,0,0.60); /* ici le rgba me permets de jouer sur la transparence */
}
#menu div{
	margin-left: 4px;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 { /* rotation premiere barre */
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 { /* opacité seconde barre */
  opacity: 0;
}

.change .bar3 { /* rotation derniere barre */
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

h1{
	font-size: 34px;
}
.nav-menu{
    position: absolute; /* positionnement au dessu de tous les élements */
	top: 62px;
    border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	left: calc(50% - 365px); /* encore utilisation du calc pour centrer */
    width: 124px;
	height: 696px;
    background-color: darkgrey;
}
nav div{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	padding-top: 24px;
}

#contraste:hover, #boutonContact:hover{
	cursor: pointer;
	width: 37%;
}

.contactbox{
	border: 2px solid white;
	height: 700px;
	width: 480px;
	margin-top: 10px;
	margin-left: 50%;
	transform: translate(-50%); /* permet de translater l'élément de 50% vers l'arriere */
	background: rgba(255, 255, 255, 0.3); 
	box-sizing: border-box; /* les pixels inclueront la bordure et le remplissage */
	padding: 50px 30px;
}
#envelope1{
	border: 3px solid white;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
#envelope2{
	display: none;
}

.contactbox input[type="radio"]{
	cursor: pointer;
	margin: 10px;
	margin-left: 60px;
	margin-bottom: 20px;
}
.contactbox input[type="radio"]:hover{ /* chandement du pointer avec hover */
	cursor: pointer;
}
select, .contactbox input[type="text"],[type="email"]{ /* style pour les input de type text et email */
	margin: 0;
	padding: 0;
	margin-bottom: 6px;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: white;
	width: 100%;
}
.contactbox input[type="radio"]{ 
    margin-bottom: 0px;
    height: 19px;
    width: 21px;
}

textarea { /* zone de text */
	resize: none;
    padding: 10px;
    line-height: 1.4;
    border-radius: 5px;
	width: 400px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px #999;
	background: rgba(255, 255, 255, 0.3); 
}
select{
	color: grey; /*couleur pour le menu defaut*/
}
select option{ /* couleur pour le menu déroulant */
	color: grey;
}
.contactbox input[type="submit"],[type="reset"]{ /* style pour les bouton de type ,submit, reset,*/
	border: none;
	outline: none;
    background-color: rgba(0,0,0,0.8);
	color: white;
	width: 60%;
	border-radius: 20px;
	margin-left: 20%;
	margin-top: 10px;
	transition-property: all; /* Active la transition sur tout avec all */
    transition-duration: 0.2s; /* La transition dure 2ms */
}	

form{
	margin-top: 10px;
}
form h1{
	text-align: center;
	margin-bottom: 15px;
}
#erreur{
	margin-bottom: 4px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 2px white;
	font-family: "Gill Sans", sans-serif;
	font-style: oblique;
	color: #B40404;
}

.contactbox input[type="submit"]:hover,[type="reset"]:hover{ /* changement de fond bouton avec hover*/
	background-color: orange;
}	
.contactbox input[type="submit"]:active,[type="reset"]:active{ /*change couleur et taille bouton avec active*/
	background-color: red;
	margin-left: 0%;
	width:100%;
}
